section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  /* border-bottom: 1px solid red; */
}

section::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #f2f4f3;
  position: absolute;
  left: 107px;
  top: 0;
}

section::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #f2f4f3;
  position: absolute;
  right: 107px;
  top: 0;
}

.container {
  width: 100%;
  padding: 185px 107px 0;
  /* background-color: rgb(16, 57, 94); */
}

.container::before {
  content: "";
  display: block;
  position: absolute;
  top: 185px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f2f4f3;
}

/* header */

header {
  width: 100%;
  height: 185px;
}

.in_header {
  width: 100%;
  padding: 88px 107px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu_btn {
  width: 57px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 33.5px;
  z-index: 5;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #f2f4f3;
  transition: 0.5s;
  position: relative;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0a0908;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 120px;
  font-weight: 900;
  opacity: 0;
  transition: opacity cubic-bezier(0.91, 1.43, 0.18, -0.32);
}

.menu li {
  margin-bottom: 20px;
}

.menu li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: 0.3s;
}

.menu li:hover::after {
  width: 100%;
  cursor: url(../img/cur.png) 10 10 pointer;
}

.menu a {
  color: #f2f4f3;
}

.active02 {
  opacity: 1;
  z-index: 4;
  overflow-x: hidden;
  transition: opacity 0.5s;
}

.activeNone {
  opacity: 0;
}

/* section_1 */

.sec_1 {
  top: -185px;
  margin-bottom: -185px;
}

.sec_1 .container {
  margin: 0 auto;
  text-align: center;
}

.sec_1 .container::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f4f3;
}

.main_letter {
  width: 100%;
  height: 140px;
  position: relative;
  /* overflow: hidden; */
}

.word {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.learning,
.skill,
.dream,
.steady {
  position: absolute;
  opacity: 0;
  animation: fade 1s;
}

.suin {
  margin-top: -40px;
  opacity: 0;
}

.learning {
  animation-delay: 0;
}

.skill {
  animation-delay: 1s;
}

.dream {
  animation-delay: 2s;
}

.steady {
  animation-delay: 3s;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.main_title {
  /* width: 65vw; */
  position: relative;
  transition: 0.5s;
  margin-top: 70px;
}

.main_title span {
  transition: 0.5s;
}

/* section_2 */

.sec_2 .container {
  border-bottom: 1px solid #f2f4f3;
}

.sec_2 .container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 500px;
  z-index: -2;
  width: 1px;
  height: 100%;
  background-color: #f2f4f3;
}

/* .pro_wrap {
  width: fit-content;
  background-color: #0a0908;
  padding: 100px 0 100px;
  border-top: 1px solid #f2f4f3;
  border-bottom: 1px solid #f2f4f3;
  width: fit-content;
  position: relative;
  z-index: 2;
  transition: 0.5s;
  left: -107px;
}

.pro {
  width: 100vw;
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
}

.pro_con {
  width: 1200px;
  display: flex;
}

.pro_con a {
  display: flex;
}

.title_wrap {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.num {
  position: absolute;
  top: -180px;
  left: 107px;
}

.top_title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 100px;
}

.k_title {
  margin-top: 10px;
}

.img_box {
  width: 600px;
  height: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_box img {
  width: 600px;
  height: 100%;
  object-fit: cover;
} */

/* .GeumJeong .img_box img {
  width: auto;
} */

/* .arrow {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 107px;
  width: 100%;
}

.arrow .left,
.arrow .right {
  position: relative;
  z-index: 3;
}

.arrow .left img,
.arrow .right img {
  transition: opacity 0.5s;
}

.arrow .left img {
  opacity: 0;
} */

.sec_2 > .title {
  float: left;
  position: relative;
  top: 40px;
  left: 107px;
}

.pro_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px 40px 0 0;

  border: 1px solid #f2f4f3;
  border-top: 0;
}

.pro_con_wrap {
  display: flex;
  background-color: #0a0908;
  flex-direction: column;
  align-items: center;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.pro_con_wrap.active01 {
  height: 1300px;
  opacity: 1;
}

.main_sub {
  margin: 0 auto;
  margin-bottom: 60px;
}

.con_sub {
  margin-bottom: 60px;
  align-items: center;
}

.desWrap {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.font_wrap {
  margin-left: 120px;
}

.font_con {
  width: 860px;
  display: flex;
}

.font_title_1,
.font_title_2 {
  width: 200px;
  font-size: 32px;
  margin-right: 40px;
  white-space: nowrap;
  font-weight: 700;
}

.font_con:nth-child(2) {
  margin-top: 30px;
}

.pro_wrap .main_img img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.main_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main_img .url {
  position: absolute;
  right: 162px;
  bottom: 20px;
  padding: 10px 30px;
  border-radius: 42px;
  border: 1px solid #f2f4f3;
}

.url h3 {
  font-weight: 500;
  transition: 0.5s;
}

.Hanacard .url {
  border: 1px solid #0a0908;
}

.Hanacard .url a {
  color: #0a0908;
}

.con_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GwangDong .main_img {
  margin-bottom: 60px;
}

.Huxely .main_img {
  margin-bottom: 60px;
}
.GeumJeong .main_img {
  margin-bottom: 60px;
}
.Hanacard .main_img {
  margin-bottom: 60px;
}
.Hollys .main_img {
  margin-bottom: 60px;
}

.GwangDong {
  z-index: 1;
  top: 50px;
}

.Huxely {
  z-index: 2;
  top: -30px;
}

.GeumJeong {
  z-index: 3;
  top: -110px;
}

.Hanacard {
  z-index: 4;
  top: -190px;
}

.Hollys {
  z-index: 5;
  top: -270px;
}

.font_sub_1,
.font_sub_2 {
  width: 70%;
}

.pro_wrap h5 {
  font-size: 32px;
}

.desWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.GwangDong .desWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.GwangDong .des_con_1 {
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}

.GwangDong .des_img_1 {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.GwangDong .des_con_2 {
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.GwangDong .des_img_2 {
  height: 250px;
  margin: 38px 0 30px;
}

.GwangDong .color .round {
  background-color: #e63c2d;
}

.GwangDong .logo img {
  width: 90%;
  object-fit: cover;
}

.logo .round {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 70%;
  object-fit: cover;
}

.GwangDong .font_wrap .font_con:nth-child(2),
.Huxely .font_wrap .font_con:nth-child(2) {
  font-family: "Noto Sans", sans-serif;
}

.Huxely .color .round {
  background-color: #7a736c;
}

.Huxely .des_con_1 {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.Huxely .des_img_1 {
  height: 350px;
  margin-bottom: 30px;
}

.Huxely .des_con_2 {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.Huxely .des_img_2 {
  margin-bottom: 30px;
}

.Huxely .font_wrap .font_con:nth-child(1) {
  font-family: "Crimson Text", sans-serif;
}

.GeumJeong .color .round {
  background-color: #003287;
}

.GeumJeong .des_con_1 {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}

.GeumJeong .des_img_1 {
  height: 90px;
  margin-bottom: 30px;
}

.GeumJeong .des_con_2 {
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.GeumJeong .des_img_2 {
  height: 200px;
  margin-bottom: 30px;
}

.Hanacard .color .round {
  background-color: #008f7f;
}

.Hanacard .des_con_1 {
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.Hanacard .des_img_1 {
  height: 350px;
  margin-bottom: 30px;
}

.Hanacard .des_con_2 {
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.Hanacard .des_img_2 {
  height: 50px;
  margin-bottom: 30px;
}

.Hanacard .font_con {
  font-family: "hana";
}

.Hollys .color .round {
  background-color: #b10e21;
}

.Hollys .des_con_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Hollys .des_img_1 {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.Hollys .font_wrap .font_con:nth-child(1) {
  font-family: "GangwonEduPowerExtraBoldA";
}

.pro_title_wrap {
  width: 100%;
  height: 200px;
  border-radius: 40px 40px 0 0;
  border: 2px solid #f2f4f3;
  padding-left: 80px;
  line-height: 200px;
  background-color: #0a0908;
  user-select: none;
  transition: 0.5s;
}

.pro_title_wrap:hover {
  transform: translateY(-50px);
}

.pro_con_wrap p {
  line-height: 35px;
}

.pro_wrap p {
  font-size: 24px;
  letter-spacing: -1px;
}

/* .pro_wrap h3 {
  font-size: 28px;
  font-weight: 400;
} */

.flex {
  display: flex;
}

.round {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.color,
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color {
  margin-right: 40px;
}

.color_title,
.logo_title {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

/* section_3 */

.sec_3 .title {
  float: left;
  position: relative;
  top: 40px;
  left: 107px;
}

.sec_3:after {
  height: 884px;
}

.sec_3 .container {
  border-bottom: 1px solid #f2f4f3;
}

.g_con {
  width: 100%;
  height: 350px;
  justify-content: space-between;
}

.sb_img,
.app_img {
  width: 50%;
  background-color: #fff;
}

.sb_title,
.app_title {
  width: 50%;

  padding: 80px 80px;
}

.sb_title a,
.app_title a {
  display: flex;
  flex-direction: column;
}

.app_title {
  align-items: flex-end;
}

.app_title a {
  align-items: flex-end;
}

.g_title {
  width: min-content;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
}

.g_sub p {
  text-align: right;
  width: fit-content;
  font-size: 20px;
  margin-top: 30px;
}

.app_title .g_title h3 {
  width: min-content;
  text-align: right;
}

.g_con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* section_4 */

.sec_4 {
  min-height: 85vh;
  color: #0a0908;
}

.sec_4:after {
  opacity: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #f2f4f3;
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.sec_4::before {
  left: 107px;
  background-color: #0a0908;
}

.sec_4 .title {
  position: relative;
  left: 15.13%;
  top: 15px;
  color: #0a0908;
}

.sec_4 .container::before {
  background-color: #0a0908;
}

.con_wrap {
  position: absolute;
  top: 267px;
  left: 18%;
  max-width: 1110px;
  width: 100%;
  /* min-height: 200px; */
  justify-content: space-between;
  /* border: 1px solid #f2f4f3; */
}

.left_con {
  width: calc(100% - 285px);
  /* height: 100%; */
  /* border: 1px solid #f2f4f3; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_con {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.profile {
  width: calc(100% - 500px);
  height: 100%;
  border: 1px solid #0a0908;
  border-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  padding: 25px;
  transition: 0.5s;
}

.profile:hover {
  box-shadow: 6px 6px 5px #a7a7a78a;
}

.profile img {
  width: 145px;
  height: 145px;
  object-fit: cover;
  margin-top: 15px;
}

.right_con {
  width: 500px;
  height: 100%;
  border: 1px solid #0a0908;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tel {
  border-bottom: 1px solid #0a0908;
  transition: border 0.5s;
}

.sec_4 .tel,
.sec_4 .skills {
  height: 50%;
  font-size: 24px;
  /* padding-top: 26px; */
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tel:hover,
.skills:hover {
  box-shadow: 6px 6px 5px #a7a7a78a;
}

.right_con:hover .tel {
  border-bottom: 1px solid #0a0908;
}

.tel p:nth-child(1),
.skills p:nth-child(1) {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.email {
  width: 100%;
  height: 135px;
  border: 1px solid #0a0908;
  border-top: 0;
  text-align: center;
  font-size: 24px;
  transition: 0.5s;
  padding-top: 30px;
}

.email:hover {
  box-shadow: 6px 6px 5px #a7a7a78a;
}

.email p:nth-child(1) {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.sns_wrap {
  width: 285px;
  /* height: 100%; */
  border: 1px solid #0a0908;
  border-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 28px;
  /* padding-top: 20px; */
}

.sns li {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sns a {
  font-weight: 900;
  color: #0a0908;
}

.sns .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 auto;
}

.icon img {
  width: 68px;
  height: 68px;
  object-fit: contain;
  margin-top: 8px;
  position: relative;
}

.icon:hover img {
  animation: move 1s linear infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* top_btn */

.top_btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f3;
  color: #0a0908;
  cursor: pointer;
}
